.custom-collection-slider__heading-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 20px;
}

.custom-collection-slider__section-heading p {
  margin: 0;
  text-transform: capitalize;
}

.custom-collection-slider__collection-wrapper {
  position: relative;
  height: 100%;
  border-radius: 13px;
  overflow: hidden;
}

.custom-collection-slider__image-container img {
  display: block;
  object-fit: contain;
}

.custom-collection-slider__name-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-collection-slider__all-products-button-label {
  text-transform: capitalize;
}

.custom-collection-slider__collection-title a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.custom-collection-slider__shop-now-button {
  border: 1px solid #ffffff;
}

.custom-collection-slider .splide__arrow--next {
  right: 0;
  width: 50px;
  height: 50px;
  opacity: 1;
  background: #000;
  border-radius: 50% 0 0 50%;
}
.custom-collection-slider .splide__arrow svg {
  fill: #fff;
  height: 1.2em;
  width: 1.2em;
  z-index: 2;
}
.custom-collection-slider .splide__arrow--prev {
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 1;
  background: #000;
  border-radius: 0 50% 50% 0;
}
.custom-collection-slider .splide__arrow--prev:disabled,
.custom-collection-slider .splide__arrow--next:disabled {
  display: none;
}
.custom-collection-slider .splide__arrow--prev::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent 50%, #d03c3f 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0 50% 50% 0;
}
.custom-collection-slider .splide__arrow--next:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent 50%, #d03c3f 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 50% 0 0 50%;
}
.custom-collection-slider .splide__arrow--prev:hover::before {
  background-position: -100% 0;
}
.custom-collection-slider .splide__arrow--next:hover::before {
  background-position: -100% 0;
}
.custom-collection-slider button.splide__arrow.splide__arrow--next:disabled {
  display: none;
}

@media screen and (min-width: 750px) {
  .custom-collection-slider__collection-title a {
    font-size: 20px;
  }
}
