.rich-text-wrapper {
  display: flex;
  justify-content: center;
}

.rich-text-wrapper__container {
  text-align: center;
}

.rich-text-wrapper__container a {
  margin: 20px 0 0;
}

.rich-text-wrapper__pre-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-transform: capitalize;
  margin: 0;
}

.rich-text-wrapper__heading {
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  margin: 10px 0 0;
}

.rich-text-wrapper__heading a {
  text-decoration: none;
  color: #d03c3f;
}

.rich-text-wrapper__button {
  background-color: #d03c3f;
  text-transform: capitalize;
}

@media screen and (min-width: 750px) {
  .rich-text-wrapper__container {
    max-width: 587px;
  }

  .rich-text-wrapper__heading {
    position: relative;
  }
}
