.custom-hero-banner__image-container {
  position: relative;
  padding-bottom: 100%;
}

.custom-hero-banner__image-container img {
  border-radius: 15px;
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.custom-hero-banner__content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-hero-banner__content {
  margin: 20px;
}

.custom-hero-banner__list {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 0 13px 0 30px;
  margin: 0 0 5px;
  list-style-type: disc;
  display: inline-block;
  backdrop-filter: blur(5px);
}

.custom-hero-banner__list-item {
  font-size: 12px;
}

.custom-hero-banner__title,
.custom-hero-banner__title a {
  color: rgb(255, 255, 255);
}

.custom-hero-banner__title a:not(:hover)::before {
  background-color: #ffffff;
}

.custom-hero-banner__title p {
  margin: 0 0 5px;
}

.custom-hero-banner button.splide__arrow.splide__arrow--prev {
  top: unset;
  bottom: 1%;
  transform: unset;
  background: none;
  cursor: pointer;
  left: 30%;
}

.custom-hero-banner button.splide__arrow.splide__arrow--prev svg {
  fill: #fff;
  height: 14px;
  width: 14px;
  margin-bottom: 20px;
}

.custom-hero-banner button.splide__arrow.splide__arrow--next {
  top: unset;
  bottom: 1%;
  transform: unset;
  background: none;
  cursor: pointer;
  right: 30%;
}
.custom-hero-banner button.splide__arrow.splide__arrow--next svg {
  fill: #fff;
  height: 14px;
  width: 14px;
  margin-bottom: 20px;
}
.custom-hero-banner button.splide__pagination__page {
  width: 8px;
  height: 8px;
  margin: 0px 8px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  border: 1px solid white;
  margin-bottom: 15px;
}
.custom-hero-banner button.splide__pagination__page.is-active {
  width: 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 15px;
}

.custom-hero-banner__custom-button {
  margin-top: 10px 0 40px 0;
}

@media screen and (min-width: 750px) {
  .custom-hero-banner__content {
    padding: 20px 35px;
    min-width: 450px;
    max-width: 545px;
  }

  .custom-hero-banner__list-item {
    font-size: 14px;
  }

  .custom-hero-banner button.splide__arrow.splide__arrow--prev {
    left: 42%;
  }

  .custom-hero-banner button.splide__arrow.splide__arrow--next {
    right: 42%;
  }

  .custom-hero-banner button.splide__pagination__page {
    margin: 15px;
  }

  .custom-hero-banner__image-container {
    padding-bottom: 50%;
  }

  .custom-hero-banner__custom-button {
    margin-top: 30px;
  }
}
